/* Zhengzheng ZHANG [tychio@yeahmobi.com]
 * 2013.9.6
 */
 .country-icon{display:inline-block;overflow:hidden;width:20px;height:20px;background-image:url("country.png");background-repeat:no-repeat;margin:0 2px}

.country-KG{background-position:0 -20px}
.country-LR{background-position:0 -80px}
.country-SO{background-position:0 -100px}
.country-JM{background-position:0 -120px}
.country-MK{background-position:0 -140px}
.country-UK{background-position:0 -180px}
.country-PY{background-position:0 -220px}
.country-ALL{background-position:0 -300px}
.country-AF{background-position:-20px 0}
.country-LA{background-position:-20px -20px}
.country-RO{background-position:-20px -60px}
.country-ZA{background-position:-20px -100px}
.country-HU{background-position:-20px -160px}
.country-CZ{background-position:-20px -180px}
.country-AU{background-position:-20px -220px}
.country-LB{background-position:-40px -20px}
.country-MG{background-position:-40px -80px}
.country-SD{background-position:-40px -100px}
.country-IE{background-position:-40px -160px}
.country-SR{background-position:-40px -220px}
.country-MY{background-position:-60px -20px}
.country-TH{background-position:-60px -40px}
.country-MW{background-position:-60px -80px}
.country-KN{background-position:-60px -120px}
.country-IS{background-position:-60px -160px}
.country-RU{background-position:-60px -180px}
.country-TJ{background-position:-60px -220px}
.country-BD{background-position:-80px 0}
.country-MV{background-position:-80px -20px}
.country-TM{background-position:-80px -40px}
.country-CI{background-position:-80px -60px}
.country-ML{background-position:-80px -80px}
.country-TZ{background-position:-80px -100px}
.country-VC{background-position:-80px -120px}
.country-IT{background-position:-80px -160px}
.country-SM{background-position:-80px -180px}
.country-BN{background-position:-100px 0px}
.country-MN{background-position:-100px -20px}
.country-AE{background-position:-100px -40px}
.country-MR{background-position:-100px -80px}
.country-LC{background-position:-100px -120px}
.country-BG{background-position:-100px -140px}
.country-LV{background-position:-100px -160px}
.country-UZ{background-position:-120px -40px}
.country-MU{background-position:-120px -80px}
.country-TG{background-position:-120px -100px}
.country-TT{background-position:-120px -120px}
.country-SE{background-position:-120px -180px}
.country-LI{background-position:-120px -160px}
.country-TL{background-position:-140px 0}
.country-NP{background-position:-140px -20px}
.country-VN{background-position:-140px -40px}
.country-EG{background-position:-140px -60px}
.country-MA{background-position:-140px -80px}
.country-TN{background-position:-140px -100px}
.country-LT{background-position:-140px -160px}
.country-CH{background-position:-140px -180px}
.country-IN{background-position:-160px 0}
.country-KP{background-position:-160px -20px}
.country-YE{background-position:-160px -40px}
.country-MZ{background-position:-160px -80px}
.country-UG{background-position:-160px -100px}
.country-LU{background-position:-160px -160px}
.country-TR{background-position:-160px -180px}
.country-ID{background-position:-180px 0}
.country-NA{background-position:-180px -80px}
.country-ZM{background-position:-180px -100px}
.country-DK{background-position:-180px -140px}
.country-MT{background-position:-180px -160px}
.country-UA{background-position:-180px -180px}
.country-PE{background-position:-180px -200px}
.country-PK{background-position:-200px -20px}
.country-NE{background-position:-200px -80px}
.country-IR{background-position:-200px 0}
.country-ZW{background-position:-200px -100px}
.country-SK{background-position:-200px -140px}
.country-MD{background-position:-200px -160px}
.country-IQ{background-position:-220px 0}
.country-EH{background-position:-220px -20px}
.country-NG{background-position:-220px -80px}
.country-SI{background-position:-220px -140px}
.country-MC{background-position:-220px -160px}
.country-UY{background-position:-220px -200px}
.country-IL{background-position:-240px 0}
.country-PH{background-position:-240px -20px}
.country-RW{background-position:-240px -80px}
.country-NI{background-position:-240px -120px}
.country-ES{background-position:-240px -140px}
.country-ME{background-position:-240px -160px}
.country-CA{background-position:-240px -180px}
.country-VE{background-position:-240px -200px}
.country-JP{background-position:-260px 0}
.country-QA{background-position:-260px -20px}
.country-BF{background-position:-260px -40px}
.country-ST{background-position:-260px -80px}
.country-PA{background-position:-260px -120px}
.country-NO{background-position:-260px -160px}
.country-HK{background-position:-260px -200px}
.country-JO{background-position:-280px 0}
.country-SA{background-position:-280px -20px}
.country-GW{background-position:-280px -60px}
.country-SN{background-position:-280px -80px}
.country-NL{background-position:-280px -160px}
.country-MX{background-position:-280px -180px}
.country-LY{background-position:-280px -200px}
.country-NZ{background-position:-300px -200px}
.country-KZ{background-position:-300px 0}
.country-SG{background-position:-300px -20px}
.country-KE{background-position:-300px -60px}
.country-SC{background-position:-300px -80px}
.country-DE{background-position:-300px -120px}
.country-PL{background-position:-300px -160px}
.country-KW{background-position:-320px 0}
.country-KR{background-position:-320px -20px}
.country-LS{background-position:-320px -60px}
.country-SL{background-position:-320px -80px}
.country-PT{background-position:-320px -160px}
.country-US{background-position:-320px -180px}
.country-RS{background-position:-320px -200px}
.country-CN{background-position:-80px -220px}
.country-CO{background-position: 0px -240px}
.country-CR{background-position:-20px -240px}
.country-DO{background-position:-40px -240px}
.country-EC{background-position:-60px -240px}
.country-SV{background-position:-80px -240px}
.country-FI{background-position:-100px -240px}
.country-FR{background-position:-120px -240px}
.country-GT{background-position:-140px -240px}
.country-HN{background-position:-160px -240px}
.country-FM{background-position:-180px -240px}
.country-AR{background-position:-200px -240px}
.country-BO{background-position:-220px -240px}
.country-BR{background-position:-240px -240px}
.country-CL{background-position:-260px -240px}
.country-AT{background-position:-280px -240px}
.country-BH{background-position:-300px -240px}
.country-GH{background-position:-320px -240px}
.country-AI{background-position:0px -260px}
.country-AW{background-position:-20px -260px}
.country-GG{background-position:-40px -260px}
.country-GR{background-position:-60px -260px}
.country-GU{background-position:-80px -260px}
.country-JE{background-position:-100px -260px}
.country-MO{background-position:-120px -260px}
.country-MQ{background-position:-140px -260px}
.country-MS{background-position:-160px -260px}
.country-NC{background-position:-180px -260px}
.country-NF{background-position:-200px -260px}
.country-NR{background-position:-220px -260px}
.country-NU{background-position:-240px -260px}
.country-OM{background-position:-260px -260px}
.country-PG{background-position:-280px -260px}
.country-PM{background-position:-300px -260px}
.country-PN{background-position:-320px -260px}
.country-PR{background-position:0px -280px}
.country-PW{background-position:-20px -280px}
.country-SH{background-position:-40px -280px}
.country-SZ{background-position:-60px -280px}
.country-TK{background-position:-80px -280px}
.country-TO{background-position:-100px -280px}
.country-TV{background-position:-120px -280px}
.country-VU{background-position:-140px -280px}
.country-WF{background-position:-160px -280px}
.country-WS{background-position:-180px -280px}

.country-BL{background-position:-140px -260px}
.country-MF{background-position:-140px -260px}
.country-GB{background-position:0 -180px}
.country-CW{background-position:-200px -280px}
.country-BQ{background-position:-220px -280px}
.country-BM{background-position:-240px -280px}
.country-GY{background-position:-120px -200px}
/*
.country-IM{background-position:0px -320px}
.country-MH{background-position:0px -320px}
.country-MP{background-position:0px -320px}
.country-RE{background-position:0px -320px}
.country-SJ{background-position:0px -320px}
.country-SS{background-position:0px -320px}
.country-SY{background-position:0px -320px}
.country-TC{background-position:0px -320px}
.country-UM{background-position:0px -320px}
.country-VI{background-position:0px -320px}

*/